@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.formulario4 {
    font-family: 'Lora', serif;
    background-color: #0D0C0C;
    color: white;
}

.formulario4 h4 {
    margin: 5px;
    padding: 5px;
    background-color: #8C1111;
}

.formulario4 .up {
    margin: 20px;
}

.formulario4 section form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: solid 1px rgb(211, 208, 208);
    padding: 20px;
}

.formulario4 section p {
    border-bottom: 1px solid grey;
}

.formulario4 .boton {
    padding: 10px;
}

.formulario4 button {
    text-decoration: none;
    background-color: white;
    padding: 8px;
    float: right;
    margin-right: 20px;
}

.formulario4 button a {
    text-decoration: none;
    color: rgb(54, 106, 165);
}

@media (min-width : 500px) {
    .formulario4 {
        display: flex;
        justify-content: center;
    }

    section {
        width: 60%;
    }
}

@media (min-width : 768px) {
    
}

@media (min-width : 1024px) {
    
}