main .breadcrumbs{
font-family: var(--fontFamily-Titulo);
font-size: 0.7rem;
color: white;
text-align: center;
margin: 20px 0;
}

.product-name h1{
text-transform: uppercase;
font-family: var(--fontFamily-Titulo);
font-size: 1rem;
color: white;
text-align: center;
margin: 20px 0;
}

.product-name article div img{
    width: 70%;
    background-color: var(--c);
    
}