.product-detail{
    background-color: var(--color-Body);
}

.product-detail .main-products .breadcrumbs{
font-family: var(--fontFamily-Titulo);
font-size: 0.7rem;

text-align: center;
margin: 40px 0;
}

.product-detail .main-products .breadcrumbs a{
    color: whitesmoke;
}

.product-detail .main-products .breadcrumbs a:hover{
    color: #8E1212;
    transition: .2s;
}

.product-detail .main-products .breadcrumbs span{
    color: whitesmoke;

}

.product-detail .product-name h1{
    text-transform: uppercase;
    font-family: var(--fontFamily-Titulo);
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 20px 0;
    }

    .product-detail .product-name .product-photo-big img{
        display: block;
        width: 60%;
        background-color: var(--color-negro4);
        border: 1.5px solid var(--color-Rojo2);
        border-radius: 5px;
        margin: 10px auto;    
    }

 .product-detail .product-name .product-photo-small img{
    display: none;
           
}  

.product-detail .product-info span{
    display: block;
    font-family: var(--fontFamily-Textos);
    color: white;
    text-align: center;
    margin: 10px;
}

.product-detail .product .price{
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-detail .product .credit{
    display: block;
    text-align: center;
    font-size: 0.7rem;
    padding-bottom: 10px;
    margin: 0 auto;

}

.product-detail .payment{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-detail .payment a{
    width: 20%;
    margin-right: -45px;
        
}

.product-detail .product-name .payment img{ /* imagenes tarjetas de credito */
    width: 40%;
    
} 

.product-detail .product-name .payment img:hover{
    border: 1px solid #8E1212;
    transition: .3s;
}

.product-detail .product-name .payment-link{
    text-align: center;
    margin-bottom: 10px;
}

.product-detail .product-name .payment-link a:hover{
    color: #8E1212;
    transition: .2s;
}

.product-detail .product-name .payment-link a{
    font-family: var(--fontFamily-Textos);
    color: whitesmoke;
    font-style: italic;
    font-size: 0.6rem;
    text-align: center;
    text-decoration: underline;
}

.product-detail .product-name .button{
    text-align: center;
}


.product-detail .product-name .button input{
    font-family: var(--fontFamily-Textos);
    padding: 7px 20px;
    border-radius: 10px;
    border: none;
    
}

.product-detail .product-name .button input:hover{
    background-color: #8E1212 ;
    color: white;
    transition: .2s;
    border: none;
}

.product-detail .product-name .envio { /* Medios de envio */
    border: 1px solid whitesmoke;
    border-radius: 7px;
    width: 70%;
    margin: 20px auto;
    padding: 0 0 10px;
    
}


.product-detail .product-name .envio p{
    text-align: center;
    margin: 8px auto;

}

.product-detail .product-name .envio i{
    color: white;
    font-size: 0.8rem;
}

.product-detail .product-name .envio span{
    color: white;
    font-size: 0.7rem;
    
}

.product-detail .product-name .envio input{
    font-size: 0.7rem;
    padding: 7px 0;
    border-radius: 3px;
    border: none;
    margin-inline-start: 20px;
    padding-left: 5px;
}

.product-detail .product-name .envio button{
    font-size: 0.7rem;
    padding: 7px 30px;
    border-radius: 10px;
    border: none;
    margin-inline-start: 10px;
}

.product-detail .product-name .envio .calcular span{
    color: black;
    
}

.product-detail .product-name .envio button:hover{
    background-color: #8E1212 ;
    transition: .2s;
    border: none;
}

.product-detail .product-name .envio .calcular span:hover{
    color: white;
    
}

.product-detail .product-name .envio .cp-link{
    font-family: var(--fontFamily-Textos);
    color: whitesmoke;
    font-style: italic;
    font-size: 0.6rem;
    margin-left: 20px;
    text-decoration: underline;

}

.product-detail .product-name .envio .cp-link:hover{
    color: #8E1212;
    transition: .2s;
}

.product-detail .product-name .info p{  /* Detalles */
    font-family: var(--fontFamily-Textos);
    color: white;
    font-size: 0.7rem;
    padding-bottom: 10px;
    
}

.product-detail .product-name .info { /* todo el contenedor de la tabla */
    color: white;
    font-size: 0.7rem;
    text-align: left;
    margin-left: 16%;
} 

.product-detail table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
       
}

.product-detail th, td {
        width: 25%;
        font-family: var(--fontFamily-Textos);
        text-align: left;
        vertical-align: center;
        border: 1px solid whitesmoke;
        /* border-radius: 5px; */
        border-collapse: collapse;
        padding: 0.3em;
        caption-side: bottom;
        letter-spacing: 1px;
        border-spacing: 20px;
     }

.product-detail th, td p{
    padding: 8px 0;
}

.product-detail .more-products{   /* Tambien te pueden gustar */
    font-family: var(--fontFamily-Titulo);
    color: white;
    font-size: 1rem;
    padding-top: 25px;
    padding-bottom: 10px; 
    margin: auto;
}

.product-detail .productos-relacionados{ /* contenedor */
    display: flex;
    width: 90%;
    /* margin: auto 5px; */
}

/* .product-detail .productos-relacionados .more{
    width: 50px;
    font-size: 1rem;
    margin: 20px;
} */


.product-detail .productos-relacionados .more i{
    width: 50px;
    font-size: 1rem;
    padding: 30px 0;
} 

.product-detail .productos-relacionados article{
    margin-bottom: 20px;
}


.product-detail .productos-relacionados img{
    width: 70%;
    
}

.product-detail .productos-relacionados img:hover{
    border: 1px solid #8E1212;
    transition: .2s;
    
}

.product-detail .productos-relacionados .product-3{
    display: none;
}

.product-detail .productos-relacionados .product-4{
    display: none;
}

.product-detail .productos-relacionados .product-5{
    display: none;
}

.product-detail .productos-relacionados p{
    font-family: var(--fontFamily-Textos);
    color: white;
    font-size: 0.7rem;
    padding-top: 5px;
    padding-bottom: 10px;    
}

.product-detail .productos-relacionados button{
    font-size: 0.7rem;
    font-family: var(--fontFamily-Textos);
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}    


.product-detail .productos-relacionados button:hover{
    background-color: #8E1212 ;
    color: white;
    transition: .2s;
    border: none;
}


@media (min-width:768px){

    .product-detail .product-name .product{
        display: flex;
        margin: 0 50px;
    }
    
    .product-detail .product-name .product-photo-big img{
       /*  display: flex; */
        width: 100%;
        background-color: var(--color-negro4);
        border: 1.5px solid var(--color-Rojo2);
        border-radius: 5px;
        margin: 10px auto;  
    }
    
    .product-detail .product-name .product-photo-small{
        display: flex;
        flex-direction: column;
        margin: 10px 30px;
        justify-content: space-between; 
    }
    
    .product-detail .product-name .product-photo-small img{
        display: initial;
        width: 20%;
        background-color: var(--color-negro4);
        border-radius: 5px;
    
            
    } 
    
    .product-detail .product-name .product-photo-small img:hover{
        border: 2px solid var(--color-Rojo2);
            
    } 

    .product-detail .product .price{
        font-size: 1.2rem ;
        }

    .product-detail .payment{
        width: 60%;
        margin-left: 160px;
       
    }

    .product-detail .product-name .payment img{ /* imagenes tarjetas de credito */
        width: 40%;     
    } 

    .product-detail .payment a{
        width: 20%; 
                    
    }

    .product-detail .product-name .envio { /* Medios de envio */
        width: 40%;
    
    }

    .product-detail .product-name .info { /* todo el contenedor de la tabla */
        margin-left: 31%;
    } 
    
    .product-detail .productos-relacionados .product-3{
        display: initial;
    }
    
    .product-detail .productos-relacionados .product-4{
        display: initial;
    }

    .product-detail .productos-relacionados{ /* contenedor */
        margin: auto -70px;
    }

}



@media (min-width:1024px){

  

    .product-detail .product .price{
    font-size: 1.5rem ;
    }

    .product-detail .product .credit{
        font-size: 0.9rem;
           
    }

    .product-detail .product-name .payment-link a{
        font-size: 0.7rem;
       
    }

   
    .product-detail .payment{
        width: 50%;
        margin-left: 255px;
               
    }

    .product-detail .product-name .payment img{ /* imagenes tarjetas de credito */
        width: 25%;     
    } 

    .product-detail .product .payment a{
        width: 40%; 
        margin-right: -150px;
        
                    
    }

    .product-detail .product-name .envio { /* Medios de envio */
        width: 30%;
    
    }


    .product-detail .product-name .info { /* todo el contenedor de la tabla */
        margin-left: 36%;
    } 
    
    
    .product-detail .productos-relacionados .product-5{
        display: initial;
        width: 49%; 
        height: 70%;
    }
    
    .product-detail .productos-relacionados{ /* contenedor */
        margin: 0 -25%;
        width: 100%;
    }

}

@media (min-width:1140px){

    .product-detail .product-name .envio { /* Medios de envio */
        width: 25;
    
    }

    .product-detail .product-name .info { /* todo el contenedor de la tabla */
        margin-left: 37.5%;
    }

    .product-detail .productos-relacionados{ /* contenedor */
        margin: 0 -27%;
        width: 100%;
    }

    .product-detail .productos-relacionados .product-5{
        display: initial;
        width: 45%; 
        height: 40%;
    }
}
