<footer class="footer">
    <div class="iconos">
        <a href=""><i class="fab fa-facebook"></i></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
    </div>
    <section>
        <article class="pie" id="borde">
            <h2><a href="/contact">Contactanos</a></h2>
            <p>No te olvides de visitar nuestras redes sociales y ponerte en contacto ante cualquier duda!</p>
            <i class="fas fa-puzzle-piece"></i>
        </article>
        <article class="pie" id="borde">
            <h2><a href="/about">Sobre nosotros</a></h2>
            <p>Conocenos y enterate de todas las novedades del sitio!</p>
            <i class="fas fa-puzzle-piece"></i>
        </article>
        <article class="pie">
            <h2><a href="">Medios de pago</a></h2>
            <img class="footerCards" src="/images/medios-pago/medios-pago-footer4.png" alt="Medios de pago">
            <p>Aceptamos todas las tarjetas y medios de pago</p>
            <i class="fas fa-puzzle-piece"></i>
        </article>
    </section>
    <p class="bot">La Gruta del Dragón. &#169 Todos los derechos reservados.</p>
</footer>