<header>
    <!-- menu version pc -->
    <nav class="container-menu"> <!-- container de todo el menu de navegacion -->
        <div class="container-redes-sociales"> <!-- conatiner de redes sociales -->
            <% if (locals.userLogin && locals.userLogin.rol === 1) { %>
                <a class="control-admin" href="/user/admin">Administrador</a>
                <% } else { %>
                
            <% } %>
            
             
            <a href="#"><i class="fab fa-facebook"></i></a> <!-- rede sociales -->
            <a href="#"><i class="fab fa-twitter"></i></a> <!-- rede sociales -->
            <a href="#"><i class="fab fa-instagram"></i></a> <!-- rede sociales -->
        </div>
        <div class="container-menu-center"> <!-- container del menu del centro donde esta el buscador el logo, login,etc -->
            <div class="container-logo-pc"> <!-- contenedor de el logo version pc -->
                <a href="/" class="logo"><img src="/images/Logo_sin_dragon.png" alt="la gruta del dragon logo"></a> <!--logo imagen -->
            </div>
            <form action="/result" id="domSearchForm1" method="GET" class="search-form">
                <div class="container-buscador"> <!-- container del buscador -->
                    <input class="buscador" id="domSearch1" type="text" name="busqueda" placeholder="buscador..."><!-- buscador -->
                    <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <div class="container-login-register"> <!-- conatainer del login y del register -->
               
                    <% if (locals.userLogin) { %>
                    <div class="container-login"> <!-- conatiner del icono login y de la a -->
                        <a href="/user/profile" class="login"><i class="fas fa-user-circle"></i></a> <!-- icono del login -->
                        <a href="/user/profile" class="login-frase"><%= locals.userLogin.name %></a> <!-- "a" link del login -->
                    </div>
                    <div class="container-register"> <!-- conatiner del icono register y de la a -->
                        <a href="/user/logout" class="register"><i class="fas fa-plus-circle"></i></a> <!-- icono del register -->
                        <a href="/user/logout" class="register-frase">Cerrar sesión</a> <!-- "a" link del register -->
                    </div>
                    <% } else{ %>        
                    <div class="container-login" id="openLogin"> <!-- conatiner del icono login y de la a -->        
                        <a href="/user/login" class="login" ><i class="fas fa-user-circle"></i></a> <!-- icono del login -->
                        <a href="/user/login" class="login-frase">Ingresar</a> <!-- "a" link del login -->
                    </div>
                    <div class="container-register" id="openRegister"> <!-- conatiner del icono register y de la a -->
                        <a href="/user/register" class="register"><i class="fas fa-plus-circle"></i></a> <!-- icono del register -->
                        <a href="/user/register" class="register-frase" >Registrarte</a> <!-- "a" link del register -->
                    </div>
                    <% } %>                                         
            </div>
            <% if (locals.userLogin) { %>
                <div class="container-cart-shop" id="openModalCart"> <!-- conatiner del carrito, la img y el icono -->
                    
                    <a href="#"><span id="span-cantidad" class="spanCantidadCart"></span><img src="/images/flag/bandera-cart-tablet.svg" alt="carrito" class="flag-nav"> <!-- img de bandera -->
                    <i class="fas fa-shopping-cart"></i></a> <!-- icono del carrtio -->
                </div>
            <% } else { %>
               <!--  <div class="container-cart-shop" >
                    <a href="#" id="avertCartOpen" ><img src="/images/flag/bandera-cart-tablet.svg" alt="carrito" class="flag-nav">
                    <i class="fas fa-shopping-cart"></i></a> 
                </div>
                <div class="avertCart" id="loginAvertCart">
                    <span class="avertCart__triangle"></span>
                    <h3 class="avertCart__h3">Tenes Que Loguearte Primero</h3>
                </div> -->
            <% } %>
             
            
        </div>
        <div class="container-menu-bar-pc"> <!-- conatiner del menu de catalogos del la version pc -->
            <ul>
                <a href="/product/juegosDeMesa"><li>juegos de mesa</li></a>
                <a href="/product/juegosDeRol"><li>juegos de rol</li></a>
                <a href="/product/juegosDePrevia"><li>juegos de previa</li></a>
                <a href="/product/list"><li>todos los juegos</li></a>
                <div class="more-catalogos"><i class="fas fa-chevron-right"></i></div> <!-- icono de flecha para mas categorias -->
            </ul>
        </div>
        <!-------------- mobile --------- -->
        <div class="container-menu-bar "> <!-- container del menu de abajo version movile -->
            <div class="container-hamburguer-buscador"> <!-- container del menu hamburguer y del buscador -->
                <div class="container-bars" id="bugerActive"> <!-- container del menu hamburguer -->
                    <input type="checkbox" id="burguer">
                    <label for="burguer" ><i class="fas fa-bars"></i></label> <!-- icono hamburguer -->
                    <div class="menu-options"> <!-- conatiner de las opcines del menu hamburguer version mobile -->
                        <div class="menu-options-usuario"> <!-- container de las opciones de usuario -->
                            <% if (locals.userLogin) { %>
                            <a href="/user/profile" class="usuario"><i class="fas fa-user"></i></a> <!-- icono de usuario -->
                            <a href="/user/profile" class="login"><%= locals.userLogin.name %></a> <!-- link login -->
                            <a href="#" class="register"><i class="fas fa-plus-circle"></i></a> <!-- icono del register -->
                            <a href="/user/logout" class="register__frase">Cerrar sesión</a> <!-- link register -->
                            <a href="#" class="exit-menu" id="exit-menuBurguer"><i class="fas fa-times"></i></a> <!-- icono para salir -->
                            <% } else{ %>   
                            <a href="/user/login" class="usuario"><i class="fas fa-user"></i></a> <!-- icono de usuario -->
                            <a href="/user/login" class="login">Ingresar</a> <!-- link login -->
                            <a href="/user/register" class="register"><i class="fas fa-plus-circle"></i></a> <!-- icono del register -->
                            <a href="/user/register" class="register__frase">Registrarte</a> <!-- link register -->
                            <a href="#" class="exit-menu" id="exit-menuBurguer"><i class="fas fa-times"></i></a> <!-- icono para salir -->
                        
                            <% } %>
                        </div>
                        <div class= "categorias">
                            <ul class="options-categorias"> <!-- container del las opciones de categorias -->
                            <li><a href="/product/juegosDeMesa">juegos de mesa</a></li>
                            <li><a href="/product/juegosDePrevia">juegos de previa</a></li>
                            <li><a href="/product/juegosDeRol">juegos de rol</a></li>
                            <li><a href="/product/list">todos los juegos</a></li>
                        </ul>
                        </div>
                    </div>
                </div>

                <form action="/result" method="GET" id="domSearchForm2" class="search-form">
                    <div class="container-buscador"> <!-- container del buscador -->
                        <input class="buscador" id="domSearch2" type="text" name="busqueda" placeholder="buscador..."><!-- buscador -->
                        <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>

            <div class="container-logo"> <!-- conatiner del logo -->
                <a href="/"> <img src="/images/Logo_sin_dragon.png"></a> <!-- loho img -->
            </div>
            <div class="container-categorias"> <!-- opciones de categorias -->
                <ul>
                    <li><a href="/">inicio</a></li>
                    <li><a href="/product/list">productos</a></li>
                    <li><a href="#" id="openModalCartMovile">carrito</a></li>
                </ul>
            </div>

            <!-- CARRITO -->
                <%- include("../cart/productCart") %> 
            <!-- ---------------------- -->
        <script src="/javascripts/header.js"></script>
    </nav>
</header>