<%- include("./partials/head") %> 


<body class="vista-about">

    <%- include("./partials/header") %> 
    
    <main class="about">
        <section class="caja">
        <H1>¿Quiénes Somos?</H1>
        <h4>Conocé al equipo encargado del desarrollo de La Gruta del Dragón</h4>
        <p>Somos desarrolladores web full stack. Este ecommerce es nuestro proyecto final del curso que realizamos en Digital House mediante la Fundación Formar.            
        </p>
        <p>Estamos en búsqueda de empleo en el sector IT. Si te gustó este sitio, no dudes en contactarnos.</p>
        <div class="datos">
            <h5>Franco Gimenez</h5>
            <a href="">Linkedin</a>
            <a href="https://github.com/fran-123">Github</a>
            <p>francoromangimenez@gmail.com</p>
            <img class="fran" src="/images/about/fran1.jpg" alt="">
        </div>
        <div class="datos">
            <h5>Mariela Robles</h5>
            <a href="">Linkedin</a>
            <a href="https://github.com/Marielizabeth">Github</a>
            <p>marielaerobles@gmail.com</p>
            <img class="mar"src="/images/about/mar1.jpg" alt="">
        </div>
        <div class="datos">
            <h5>Loana Rosi</h5>
            <a href="">Linkedin</a>
            <a href="https://github.com/LoanaRosi">Github</a>
            <p>loarosi24@gmail.com</p> 
            <img class="loa"src="/images/about/Loa1.jpg" alt="">
        </div>
        
        </section>
    </main>

    <%- include("./partials/footer") %> 
</body>

</html>