<%- include("./partials/head") %> 




<body class="vista-about">

    <%- include("./partials/header") %> 
    
    <main class="about">
        <section class="caja">
        <H1>¿Quiénes Somos?</H1>
        <h4>Conocé al equipo encargado del desarrollo de La Gruta del Dragón</h4>
        <h5>Franco Gimenez</h5> <a href="">francoromangimenez@gmail.com</a>
        <h5>Mariela Robles</h5> <a href="">marielaerobles@gmail.com</a>
        <h5>Loana Rosi</h5> <a href="">loarosi24@gmail.com</a>
        <p>La Gruta del Dragón fue diseñada a partir de una idea en conjunto. Nuestro enfoque siempre está puesto en las
            necesidades del cliente y por eso queremos mantener una buena comunicación con todos aquellos que desean adentrarse
            en nuestro sitio web. Esperamos que tu experiencia con nosotros sea satisfactoria ya que para nosotros es lo más importante y recordá que cualquier duda o
            comentario que quieras hacer lo podes dejar en nuestra sección Comentarios.</p>
        </section>
    </main>

    <%- include("./partials/footer") %> 
</body>

</html>