<%- include("./partials/head") %> 

<body class="medios-pago">
<%- include("./partials/header") %> 

    <main>
        <img src="/images/medios-pago/medios-pago.jpg" alt="Medios de pago">
    </main>
<%- include("./partials/footer") %> 
<%- include("./partials/scripts") %> 
</body>
