<%- include("./partials/head") %> 

<body  class="carrito">
    <main>
        <section class="seccion">
            <div class="sup">
            <h3 class="titulo">Carrito de compra</h3>
            <a href="/"><i class="far fa-trash-alt"></i></a>
            </div>
            <article class="bloque">
                <p>Carcassone</p>
                <div class="arriba">
                <img src="img/img.jpg"
                    alt="">
                <input type="number" id="numero" value="1">
                </div>
                <div class="detalle1">
                    <p>Precio del producto</p>
                    <p>$5000</p>
                </div>
                <div class="detalle2">
                    <p>Total(con envío)</p>
                    <p>$5500</p>
                </div>
                <button><a href="/formulario1">Continuar</a></button>
            </article>
        </section>
    </main>
</body>

</html>