<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body class="formulario1">
    <section>
        <h4>Entrega-Pago</h4>
    <form action="">
        <p class="linea">Datos de contacto</p>
        <input type="email" name="email" id="email" placeholder="E-mail">
        <div class="sesion">
        <p class="cuenta">¿Ya tienes cuenta?</p>
        <a href="/login">Iniciar sesión</a>
        </div>
        <p class="linea">Entrega</p>
        <select name="pais" id="pais">
            <option value="" selected hidden>País</option>
            <option value="ar">Argentina</option>
            <option value="cl">Chile</option>
            <option value="br">Brasil</option>
            <option value="uy">Uruguay</option>
            <option value="py">Paraguay</option>
            <option value="pe">Perú</option>
            <option value="co">Colombia</option>
        </select>
        <input type="text" name="text" id="text" placeholder="código postal">
        <button><a href="/formulario2">Continuar</a></button>
    </form>
    </section>
</body>
</html>