<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cart.css">

</head>
<body class="formulario3">
    <section>
      <h4>Entrega-Pago</h4>  
        <p class="datos">Datos de facturación</p>
        <form action="">
            <select name="pais" id="pais">
                <option value="" selected hidden>País</option>
                <option value="ar">Argentina</option>
                <option value="cl">Chile</option>
                <option value="br">Brasil</option>
                <option value="uy">Uruguay</option>
                <option value="py">Paraguay</option>
                <option value="pe">Perú</option>
                <option value="co">Colombia</option>
            </select>
            <input type="text" name="text" id="text" placeholder="DNI o CUIL">
            <p>Persona que pagará el pedido</p>
            <input type="text" name="text" id="text" placeholder="Nombre">
            <input type="text" name="text" id="text" placeholder="Apellido">
            <input type="text" name="text" id="text" placeholder="Teléfono">
            <div class="check">
            <input type="checkbox" name="check" id="check">
            <label for="check">Otra persona va a retirar el pedido</label>
            </div>
            <p>Domicilio de la persona que pagará el pedido</p>
            <input type="text" name="text" id="text" placeholder="Calle">
            <input type="text" name="text" id="text" placeholder="Número">
            <div class="check">
            <input type="checkbox" name="check" id="check">
            <label for="check">Sin número</label>
            </div>
            <input type="text" name="text" id="text" placeholder="Departamento(opcional)">
            <input type="text" name="text" id="text" placeholder="Barrio(opcional)">
            <input type="text" name="text" id="text" placeholder="Ciudad">
            <input type="text" name="text" id="text" placeholder="Código postal">
            <select name="pais" id="pais">
                <option value="" selected hidden>Provincia</option>
                <option value="ar">Buenos Aires</option>
                <option value="co">Córdoba</option>
                <option value="sf">Santa Fe</option>
                <option value="mz">Mendoza</option>
                <option value="sj">San Juan</option>
                <option value="er">Entre Rios</option>
                <option value="ms">Misiones</option>
            </select>
            <button><a href="/cart/formulario4">Continuar</a></button>
        </form>
    </section>
</body>
</html>