<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cart.css">
    <script scr="https://fontawesome.com/"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body class="formulario2">
    <section class="for">
        <h4>Entrega-Pago</h4>
        <p class="entrega">Entrega</p>
        <form action="">
            <div class="envio">
                <a href=""><i class="fas fa-truck"></i></a>
                <p>Envío a domicilio</p>
            </div>
            <div class="put">
            <input type="checkbox" name="check" id="check">
            <label for="check">Envío a domicilio estándar</label>
            </div>
            <div class="envio">
                <a href=""><i class="fas fa-map-marker-alt"></i></a>
                <p>Retirar por</p>
            </div>
            <div class="put">
            <input type="checkbox" name="check" id="check">
            <label for="check">Punto de retiro</label>
            </div>
            <div class="put">
            <input type="checkbox" name="check" id="check">
            <label for="check">Retirar en local</label>
            </div>
            <button><a href="/cart/formulario3">Continuar</a></button>
        </form>
    </section>
</body>
</html>