<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body class="formulario5">
    <section>
    <h4>Entrega-Pago</h4>
    <form action="">
        
        <p>Nombre de titular</p>
        <input type="text" name="text" id="text" placeholder="como aparece en la tarjeta">
        <p>Número de tarjeta</p>
        <input type="text" name="text" id="text">
        <p>Fecha de expiración</p>
        <div>
        <input type="text" name="text" id="text" placeholder="mes">
        <input type="text" name="text" id="text" placeholder="año">
        </div>
        <p>Código de seguridad</p>
        <input type="text" name="text" id="text" placeholder="3 digitos">
    </form>
    <button><a href="/cart/formulario6">Finalizar</a></button>
    </section>
</body>
</html>