<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body class="formulario6">
    <section>
      <h4>Entrega-Pago</h4>  
        <article>
            <p>Tu compra se realizó con éxito!</p>
            <p>Te enviamos un mail de comprobación</p>
            <p>Gracias por comprar en La Gruta del Dragón</p>
        </article>
    <button><a href="/">Volver al menu principal</a></button>
    </section>
</body>
</html>