<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/778560f052.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="carrito">
<div class="modal-cart" id="modalCart">
    <div class="carrito" id="modalCartProduct">
        <main>
            <section class="seccion">
                    <div class="bloque">
                        <div class="container-full">
                            <div class="cart-product-sup">
                                <div class="sup">
                                    <h3 class="titulo">Carrito de compra</h3>
                                    <i class="fas fa-times closeModalCart" id="closeModalCart"></i>
                                </div>
                                <div class="container-products" id="containerProductCard">
                                    
                                    
                                </div>
                                <div id="changuito">
                                    <span class="cartNotProduct" id="cartEmpty"></span>
                                </div>
                                
                            </div>
                            <div class="container-product-envios">
                                <h3 class="title-envio">Medios De Envio</h3>
                            <div class="datos-envios">
                                <input type="number" class="input-postal">
                                <button type="submit" class="calular-postal">Calcular</button>
                            </div>
                            
                            </div>
                        </div>
    
                        <div class="conatiner-detalle">
                            <!-- <div class="detalle1">
                                <p>sub-total(sin envio)</p>
                                <span>$5000</span>
                            </div> -->
                            <div class="detalle2">
                                <p>Total</p>
                                <span id="cartTotal"></span>
                            </div>
                            <button class="continue-form" ><a id="buyCart" href="/cart/formulario1">Comprar</a></button>
                            <button class="continue-form" id="goShop">Seguir comprando</button>
                            <button class="continue-form" id="emptyCart">Vaciar Carrito</button>
                        </div>
                        
                    </div>
            </section>
        </main>
    </div>
</div>
<script src="/javascripts/carrito.js"></script>
   
</body>

</html>