<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/778560f052.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home">
    <!-- header -->
    <header>
        <nav class="container-menu">
            <div class="container-redes-sociales">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="container-menu-nav">
                <div class="container-bars">
                    <a href="#"><i class="fas fa-bars"></i></a>
                </div>
                <div class="container-buscador">
                    <a href="/" class="container-nav-logo"><img src="/images/la-gruta-del-dragon-2.png"
                            alt="la gruta del dragon logo" class="nav-logo"></a>
                    <input class="buscador" type="text" name="buscador" placeholder="buscador...">
                    <div class="container-search-user">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <a href="/login" class="login"><i class="fas fa-user-circle"></i></a><a href="/login"
                            class="login">ingresar</a>
                        <a href="/register" class="register"><i class="fas fa-plus-circle"></i></a><a href="/register"
                            class="register">registrarte</a>
                    </div>
                    <div class="container-cart-shop">
                        <a href="/productCart"><img src="/images/flag-5.svg" alt="carrito" class="flag-nav"> <img
                                src="/images/cart-2.svg" alt="" class="cart-shop"></a>
                    </div>
                </div>
            </div>
            <div class="container-menu-bar-pc">
                <!-- mobile -->
                <ul>
                    <li><a href="#">juegos de mesa</a></li>
                    <li><a href="#">juegos de rol</a></li>
                    <li><a href="#">juegos de previa</a></li>
                    <li><a href="#">todos los juegos</a></li>
                    <div class="more-catalogos"><i class="fas fa-chevron-right"></i></div>
                </ul>
            </div>
            <div class="container-menu-bar ">
                <!-- mobile -->
                <div class="logo">
                    <a href="/"> <img src="/images/la-gruta-del-dragon-2.png"></a>
                </div>
                <ul>
                    <li><a href="/">inicio</a></li>
                    <li><a href="#">productos</a></li>
                    <li><a href="/productCart">carrito</a></li>
                </ul>
                <div class="menu-options">
                    <div class="menu-options-usuario">
                        <a href="#"><i class="fas fa-user"></i></a>
                        <a href="/login" class="login">ingresar</a>
                        <a href="/register" class="register">rgistrarse</a>
                        <a href="#" class="extit-menu"><i class="fas fa-times"></i></a>
                    </div>
                    <ul class="options">
                        <li><a href="#">juegos de mesa</a><i class="fas fa-chevron-down"></i></li>
                        <li><a href="#">juegos de previa</a><i class="fas fa-chevron-down"></i></li>
                        <li><a href="#">juegos de rol</a><i class="fas fa-chevron-down"></i></li>
                        <li><a href="#">todos los juegos</a><i class="fas fa-chevron-down"></i></li>
                    </ul>
                </div>
        </nav>
    </header>
    <!-- main -->
    <main class="main-home">
        <div class="container-carrusel">
            <a href="#"><img src="/images/banner-1.jpg" alt=""></a>
        </div>
        <section class="main-category">
            <h3 class="titulo-categorias">categorias principales</h3>
            <section class="container-catalogos">
                <article class="catalogo">
                    <img src="/images/catalogo-1.png" alt="">
                </article>

                <article class="catalogo">
                    <img src="/images/catalogo-2.png" alt="">
                </article>

                <article class="catalogo">
                    <img src="/images/catalogo-3.png" alt="">
                </article>
            </section>
            <div class="container-titulo-destacados">
                <h3 class="destacados">productos destacados</h3>
            </div>
            <section class="conatiner-product">
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-1.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-2.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>


                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-3.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>


                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-4.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-5.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-6.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-7.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-8.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-9.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-10.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-11.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-12.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-13.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#" ><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>
                <article>
                    <div class="conatiner-inside-article">
                        <a href="#" class="container-img"><img src="/images/product-14.png" alt="" class="img-product"></a>
                        <div class="container-name-precio">
                            <h2 class="name-product">juego de mesa</h2>
                            <p class="precio">$100000</p>
                        </div>
                        <div class="container-option-product">
                            <div class="option-detalle">
                                <a href="#"><i class="far fa-eye"></i>
                                    <p>detalles</p>
                                </a>
                            </div>
                            <div class="option-cart-shop">
                                <a href="#"><i class="fas fa-shopping-cart"></i>
                                    <p>agregar</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </article>

            </section>
            <div class="botton-full-productos">
                <a href="#">ver todos los productos</a>
            </div>
            <section>
                <article class="contaienr-slider">
                    <div class="container-baner-oferta">
                        <div class="container-silder-oferta"><h2 class="slider-ofertas">ofertas</h2></div>
                        <img class="baner-oferta" src="/images/bandera-slider.svg" alt="">
                        <div class="container-img-oferta"><i class="fas fa-angle-left"></i><img class="img-oferta" src="/images/oferta-slider.jpg" alt=""><i class="fas fa-angle-right"></i></div>
                    </div>
                </article>
            </section>
    </main>
</body>

</html>