<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/778560f052.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home">
    <!-- header -->
    <header>
        <nav class="container-menu">
            <div class="container-redes-sociales">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="container-menu-nav">
                <div class="container-bars">
                    <a href="#"><i class="fas fa-bars"></i></a>
                </div>
                <div class="container-buscador">
                    <a href="/" class="container-nav-logo"><img src="/images/la-gruta-del-dragon-2.png" alt="la gruta del dragon logo" class="nav-logo"></a>
                    <input class="buscador" type="text" name="buscador" placeholder="buscador...">
                    <div class="container-search-user">
                        <a href="#"><i class="fas fa-search"></i></a>
                        <a href="/login" class="login"><i class="fas fa-user-circle"></i></a><a href="/login" class="login">ingresar</a> 
                        <a href="/register" class="register"><i class="fas fa-plus-circle"></i></a><a href="/register" class="register">registrarte</a>
                    </div>
                    <div class="container-cart-shop">
                        <a href="/productCart"><img src="/images/flag-5.svg" alt="carrito" class="flag-nav"> <img src="/images/cart-2.svg" alt="" class="cart-shop"></a>
                    </div>
                </div>
            </div>
            <div class="container-menu-bar-pc"><!-- mobile -->
                <ul>
                    <li><a href="#">juegos de mesa</a></li>
                    <li><a href="#">juegos de rol</a></li>
                    <li><a href="#">juegos de previa</a></li>
                    <li><a href="#">todos los juegos</a></li>
                    <div class="more-catalogos"><i class="fas fa-chevron-right"></i></div>
                </ul>
            </div>
            <div class="container-menu-bar "><!-- mobile -->
                <ul>
                    <li><a href="/">inicio</a></li>
                    <li><a href="#">producto</a></li>
                    <li><a href="/productCart">carrito</a></li>
                </ul>
                <div class="logo">
                    <img src="/images/la-gruta-del-dragon-2.png" alt="">
                </div>
                <div class="menu-options">
                    <div class="menu-options-usuario">
                        <a href="#"><i class="fas fa-user"></i></a>
                        <a href="/login" class="login">ingresar</a>
                        <a href="/register" class="register">rgistrarse</a>
                        <a href="#" class="extit-menu"><i class="fas fa-times"></i></a>
                    </div>
                    <ul class="options">
                        <li><a href="#">juegos de mesa</a><i class="fas fa-chevron-down"></i></li>
                        <li><a href="#">juegos de previa</a><i class="fas fa-chevron-down"></i></li>
                        <li><a href="#">juegos de rol</a><i class="fas fa-chevron-down"></i></li>
                        <li><a href="#">todos los juegos</a><i class="fas fa-chevron-down"></i></li>
                    </ul>
                </div>
        </nav>
    </header>
</body>

</html>