<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/778560f052.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="home">
    <header>
        <nav class="container-menu">
            <div class="container-menu-nav">
                <div class="container-bars">
                    <a href="#"><i class="fas fa-bars"></i></a>
                </div>
                <div class="container-buscador">
                    <input class="buscador" type="text" name="buscador" placeholder="buscador...">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="container-menu-bar">
                <ul>
                    <li><a href="#">inicio</a></li>
                    <li><a href="#">producto</a></li>
                    <li><a href="#">carrito</a></li>
                </ul>
            </div>
            <div class="menu-options">
                <div class="menu-options-usuario">
                    <i class="fas fa-user"></i>
                    <a href="#">ingresar</a>
                    <a href="#">rgistrarse</a>
                </div>
                <ul class="options">
                    <li><a href="">juegos de mesa</a><i class="fas fa-chevron-down"></i></li>
                    <li><a href="">juegos de previa</a><i class="fas fa-chevron-down"></i></li>
                    <li><a href="">juegos de rol</a><i class="fas fa-chevron-down"></i></li>
                    <li><a href="">todos los juegos</a><i class="fas fa-chevron-down"></i></li>
                </ul>
            </div>
        </nav>
    </header>
</body>
</html>