<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://kit.fontawesome.com/778560f052.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vista-login">
    <main class="login">
        <h2>INICIAR SESIÓN</h2> 
        <form action=""> 
            <div class="option-login"> <!-- container de opciones alternativas de registro -->
                <a href=""><i class="fab fa-facebook"></i> facebook login </a>
                <a href=""> <i class="fab fa-google"></i> google login</a>
                <span>o</span>
            </div>
            <div class="box-form">
                <input type="email" name="email" placeholder="Gmail">
            </div>

            
            <div class="box-form">
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>

            <a href="#" class="recuperar-contra">olvidaste tu contraseña?</a>
            
            <div class="box-button">
                <button type="submit">crear cuenta</button>
            </div>

        </form>
    </main>
</body>
</html>