<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/productCart.css">
    <script scr="https://fontawesome.com/"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>

<body  class="carrito">
    <main>
        <section class="seccion">
            <div class="sup">
            <h3 class="titulo">Carrito de compra</h3>
            <a href=""><i class="far fa-trash-alt"></i></a>
            </div>
            <article class="bloque">
                <p>Carcassone</p>
                <div class="arriba">
                <img src="http://d3ugyf2ht6aenh.cloudfront.net/stores/907/020/products/ok_1024_carcassonne-devir-juegos-de-mesa-abracadabra1-ec72671e48caaa0f6d15851639797011-640-0.jpg"
                    alt="">
                <input type="number" id="numero" value="1">
                </div>
                <div class="detalle1">
                    <p>Precio del producto</p>
                    <p>$5000</p>
                </div>
                <div class="detalle2">
                    <p>Total(con envío)</p>
                    <p>$5500</p>
                </div>
                <button><a href="/formulario1">Continuar</a></button>
            </article>
        </section>
    </main>
</body>

</html>