<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://kit.fontawesome.com/778560f052.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vista-register">
    <main class="register">
        <h2>crear cuenta</h2> 
        <form action=""> 
            <div class="option-register"> <!-- container de opciones alternativas de registro -->
                <a href=""><i class="fab fa-facebook"></i> facebook login </a>
                <a href=""> <i class="fab fa-google"></i> google login</a>
                <span>o</span>
            </div>
            <div class="box-form">
                <input type="text" name="name" placeholder="nombre">
            </div>

            
            <div class="box-form">
                <input type="number" name="number" id="number" placeholder="numero de celular">
            </div>

            <div class="box-form">
                <input type="email" name="email" id="email" placeholder="e-mail">
            </div>

            <div class="box-form">
                <input type="password" name="password" id="password" placeholder="contraseña">
            </div>

            <div class="box-form">
                <input type="password" name="password-confirm" id="password-confirm" placeholder="confirmar contraseña">
            </div>

            <div class="box-form condiciones">
                <label for="conditions">acepto terminos y condiciones</label>
                <input type="checkbox">
            </div>

            <div class="box-button">
                <button type="submit">crear cuenta</button>
            </div>
        </form>
    </main>
</body>
</html>