/* main home*/


.main-home .carousel{
    display: none;
}


.main-home .main-category{

}

/* ---------------------------------- */
/* empieza la seccion de categorias */
/* ---------------------------------- */

.main-home h3.titulo-categorias{
    color: #fff;
    text-align: center;
    font-family: var(--fontFamily-Titulo);
    font-weight: 200;
    margin: 10px 0;
    font-size: 20px;
    text-transform: uppercase;
    
}

.main-home .container-catalogos{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-home .container-catalogos .catalogo {  /* aca esta el la categoria que se muestra con una img */
    width: 80%;
    margin: 0 auto;
    background-color: #0e0e0e;
    margin-bottom: 20px;
    border-radius: 4px;
    
}

.main-home .container-catalogos article img{  /* img de la categoria que se quire mostrar */
    width: 95%;
    margin: 0 auto;
}

/* ------------------------------------------------- */
/* empieza la seccion de los productos destacados */
/* ------------------------------------------------- */

.main-home .container-titulo-destacados{  /* el container de titulo destacados */
    background-image: url("/images/flag/bandera-product-4.svg");
    background-repeat:no-repeat;
    margin: 0 auto;
    background-position: center;
    height: 70px;
    width: 100%;
    
}

.main-home .container-titulo-destacados .destacados{  /* el titulo de destacados */
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: var(--fontFamily-Titulo);
    font-weight: 200;
    font-size: 20px;
    padding: 10px;
    padding-top: 27px;
}
/* ------------------------------------ */
/* aca estan los productos destacados */
/* ------------------------------------ */

.main-home .conatiner-product{  /* este es el container de todos los articles dentro del section */
    display: flex;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.main-home .conatiner-product article {  /* el container del producto */
    width: 44%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    margin: 10px 7px;
    border: 2px solid transparent;
    transition: border .1s;
}

.main-home .conatiner-product article:hover{
    border: 2px solid var(--color-Rojo2);
}

.main-home .conatiner-product .conatiner-inside-article{ /* contenedor de lo que esta dentro del ariculo */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-home .conatiner-product article .container-img {  /* el contenedor de la imagen del producto  */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-radius: 4px 4px 0 0;
    margin-bottom: -4px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #070707;
}

.main-home .conatiner-product article .img-product { /* la imagen del producto */
    width: 90%;
    background-color: #0e0e0e;
    margin-top: 22px;
}

.main-home .conatiner-product article a img{ 
   width: 100%;
   
}



.main-home .conatiner-product article .container-name-precio { /* el contenedor del nombre del producto y el precio */
    width: 100%;
    background-color: #070707;
    z-index: 1000; /* para que se oculten atras el , detalle y carrito */
}

.main-home .conatiner-product article .name-product { /* nombre del producto  */
    color: #fff;
    font-family: var(--fontFamily-Textos);
    font-weight: 300;
    margin-bottom: 20px;
    padding-top: 10px;
    margin-left: 12px;
    margin-right: 10px;
    text-transform: uppercase;
}



.main-home .conatiner-product article .precio { /* precio del producto */
    color: #fff;
    margin-top: 10px;
    margin-left: 12px;
    padding-bottom: 10px;
    font-family: var(--fontFamily-Textos);
    font-weight: 400;
}

.main-home .conatiner-product article .container-option-product { /* container del vista detalle y carrito con sus iconos */
    display: flex;
    width: 100%;
    
}

.main-home .conatiner-product article .container-option-product .option-detalle { /* cotainer del opcion vista detalle */
    width: 50%;
    border-radius: 0 0 0 4px;
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
    background: #070707;
    box-shadow: 0 0 10px #000 inset;
}


.main-home .conatiner-product article .container-option-product .option-detalle a{ 
    color: #fff;
    font-size: 19px;
    transition: color .3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3px;
    text-transform: uppercase;
}

.main-home .conatiner-product article .container-option-product .option-detalle a i{
    margin-top: 3.9px;
}

.main-home .conatiner-product article .container-option-product .option-detalle a p{ /* texto devajo del icono del ojo */
    font-size: .7em;
}

.main-home .conatiner-product article .container-option-product .option-detalle a:hover{
    color: var(--color-Rojo2);
}

.main-home .conatiner-product article .container-option-product .option-cart-shop {
    width: 50%;
    box-shadow: 0 0 10px #000 inset;
    border-radius: 0 0 4px 0;
    display: flex;
    justify-content: center;
    background: #070707;
}

.main-home .conatiner-product article .container-option-product .option-cart-shop a{
    color: #fff;
    font-size: 19px;
    transition: color .3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    text-transform: uppercase;
}

.main-home .conatiner-product article .container-option-product .option-cart-shop a i{

}

.main-home .conatiner-product article .container-option-product .option-cart-shop a p{
    font-size: .7em;
    line-height: 1.3;
}

.main-home .conatiner-product article .container-option-product .option-cart-shop a:hover{
    color: var(--color-Rojo2);
}



.main-home .botton-full-productos{  /* contenedor de el boton para ver todos los productos */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 80px;
    background-color: var(--color-Gris1);
    padding: 50px 0;
    flex-direction: column;
    align-items: center;
}

.main-home .botton-full-productos h2{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
    font-family: var(--fontFamily-Titulo);
    font-weight: 400;
   
}

.main-home .botton-full-productos .more-product-p{ /* container de la p */
    display: flex;
}

.main-home .botton-full-productos .more-product-p p{ /* p de la frase para mas productos */
    color: rgb(192, 192, 192);
    text-transform: capitalize;
    font-size: 17px;
    text-align: center;
}

.main-home .botton-full-productos a{ /* boton para ver los productos */
    font-family: var(--fontFamily-Textos);
    color: #fff;
    font-size: 15px;
    transition: background-color .2s;
    text-decoration: #000;
    padding: 10px 4%;
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 50px;
    text-transform: capitalize;
    background-color: var(--color-Rojo2);
}

.main-home .botton-full-productos a:hover{
    background-color: #000;
}

/* ------------------------------ */
/* seccion de productos en oferta*/
/* ------------------------------ */


.main-home .main-category .container-ofertas{

}
.main-home .main-category .container-ofertas .glider-contain .glider{
   
    margin-bottom: 50px;
    overflow: hidden
}
.main-home .main-category .container-ofertas .glider-contain .glider-prev{ /* este es el boton para deslizar el carusel de productos */
    left: 10px;
    top: 38%;
    font-size: 46px;
}

.main-home .main-category .container-ofertas .glider-contain .glider-next{ /* este es el boton para deslizar el carusel de productos */
    right: 10px;
    top: 38%;
    font-size: 46px;
}

.main-home .main-category .container-ofertas .glider-contain .glider-dot{ /* estos son los puntos debajo del carrusel */
    height: 5px;
    width: 18px;
    background-color: #fff;
    display: none;
}

.main-home .main-category .container-ofertas .glider-contain .glider-dot.active{ /* estos son los puntos debajo del carrusel */
   background-color: var(--color-Rojo2);
}

.main-home .main-category .container-ofertas .container-titulo-oferta{
    background-image: url("/images/flag/bandera-product-4.svg");
    background-repeat:no-repeat;
    margin: 0 auto;
    background-position: center;
    height: 70px;
    width: 100%;
    margin-bottom: 70px;
}

.main-home .main-category .container-ofertas .container-titulo-oferta .title-oferta{
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: var(--fontFamily-Titulo);
    font-weight: 200;
    font-size: 20px;
    padding: 10px;
    padding-top: 27px;

}

.main-home .main-category .container-ofertas .container-products-oferta{
    margin-bottom: 80px;
}

.main-home .main-category .container-ofertas .product-oferta{
    display: flex;
    background-color: var(--color-negro4);
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 2px;
}



.main-home .main-category .container-ofertas .product-oferta .container-img-oferta{
    width: 150px;
}

.main-home .main-category .container-ofertas .product-oferta .container-img-oferta img{
    width: 95%;
    background-color: var(--color-negro5);
    display: flex;
    justify-content: center;
    margin: 10px;
}

.main-home .main-category .container-ofertas .product-oferta .detail-oferta{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.main-home .main-category .container-ofertas .product-oferta .detail-oferta h4{
    color: #fff;
    font-family: var(--fontFamily-Titulo);
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 5px;


}

.main-home .main-category .container-ofertas .product-oferta .detail-oferta .container-precios{
    display: flex;
}

.main-home .main-category .container-ofertas .product-oferta .detail-oferta p.precio-old{
    color: var(--color-Rojo3);
    font-size: 16px;
    font-family: var(--fontFamily-Textos);
}

.main-home .main-category .container-ofertas .product-oferta .detail-oferta p.new-oferta{
    color: #fff;
    font-size: 23px;
    font-family: var(--fontFamily-Textos);
    font-weight: 400;
    margin-right: 15px;
}

.main-home .main-category .container-ofertas .product-oferta .detail-oferta a{
    color: #000;
    padding: 6px;
    width: 130px;
    font-family: var(--fontFamily-Textos);
    font-size: 16px;
    font-weight: 450;
    text-transform: uppercase;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    transition: background-color .3s;
    margin-bottom: 8px;
    text-align: center;
}

.main-home .main-category .container-ofertas .product-oferta .detail-oferta a:hover{
    background-color: var(--color-Rojo2);
}



/* ----------------vista tablet-----------------*/

@media (min-width:768px) {

    /* --------------------------- */
    /* ----------BANNER----------- */
    /* --------------------------- */
    .main-home .carousel{
        display: block;
    }

    .main-home .carousel-item{
        width: 100%;
        height: 265px;
        background-repeat: no-repeat;

        background-size:100% 100%;
    }

    

    /* ------------------------------ */
    /* seccion catalogos principales */
    /* ------------------------------ */

    .main-home .container-catalogos{ /* container de los catalogos procipales con imagen */
        flex-direction: row;
        justify-content: space-around;
    }
    
    .main-home .container-catalogos .catalogo {  /* aca esta el la categoria que se muestra con una img */
        width: 31%;
    }

    /* ----------------------------- */
    /* seccion productos destacados */
    /* ----------------------------- */

    .main-home .container-titulo-destacados{  /* el container de titulo destacados */
        border: none;
        border-right: none;
        border-left: none;
        box-shadow: none;

        
    }


    .main-home .conatiner-product article {
        width: 230px;
    }

    .main-home .botton-full-productos h2{
        font-size: 26px;
    }
  

    .main-home .botton-full-productos{  /* contenedor de el boton para ver todos los productos */
        padding: 50px 0;
    }

    .main-home .botton-full-productos .more-product-p p{ /* p de la frase para mas productos */
        font-size: 18px;
    }

    .main-home .botton-full-productos a{ /* boton para ver los productos */
        font-size: 17px;
        padding: 10px 2%;
        margin-top: 50px;
    }

    /* ------------------------------ */
    /* seccion prductos en ofertas */
    /* ------------------------------ */

    .main-home .main-category .container-ofertas{

    }
    
    .main-home .main-category .container-ofertas .container-titulo-oferta{
        background-repeat:no-repeat;
        margin: 0 auto;
        background-position: center;
        height: 70px;
        width: 100%;
        margin-bottom: 70px;
    }
    
    .main-home .main-category .container-ofertas .container-titulo-oferta .title-oferta{
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        font-family: var(--fontFamily-Titulo);
        font-weight: 200;
        font-size: 20px;
        padding: 10px;
        padding-top: 27px;
    
    }

    .main-home .main-category .container-ofertas .container-products-oferta{
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .main-home .main-category .container-ofertas .product-oferta{
        margin: 0 auto;
        margin-bottom: 10px;
        width: 98%;
    }
    
    .main-home .main-category .container-ofertas .product-oferta .container-img-oferta{
    }
    
}

@media (min-width:1024px) {

     /* --------------------------- */
    /* ----------BANNER----------- */
    /* --------------------------- */

    .main-home .carousel-item{
        height: 350px;
    }

    .main-home h3.titulo-categorias{
        color: #fff;
        text-align: center;
        font-family: var(--fontFamily-Titulo);
        font-weight: 200;
        font-size: 26px;
        text-transform: uppercase;
        margin-top: 30px;
        
    }

    .main-home .container-catalogos{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    
    .main-home .container-catalogos .catalogo {  /* aca esta el la categoria que se muestra con una img */
        width: 29%;
        margin: 20px 9px;
        margin-top: 10px;
    }

    .main-home .container-catalogos .catalogo img{
        transition: transform .4s ;
    }

    .main-home .container-catalogos .catalogo a:hover >img{
        transform: scale(1.1);
    }

    /* parte productos */


    .main-home .conatiner-product article {

    }

    .main-home .conatiner-product article .container-option-product { /* container del vista detalle y carrito con sus iconos */
        top: -45px;
        z-index: -1;
        transition: top .6s;
        position: relative;
    }

    .main-home .conatiner-product article .conatiner-inside-article:hover >.container-option-product{
        top: 0;
        z-index: 900;
    }

    


    .main-home .botton-full-productos{  /* contenedor de el boton para ver todos los productos */
        padding: 65px 0;
    }

    .main-home .botton-full-productos .more-product-p p{ /* p de la frase para mas productos */
        font-size: 17px;
    }

    
    .main-home .main-category .container-ofertas .product-oferta{
        display: flex;
        width: 98%;
        margin: 0 auto;
        margin-bottom: 10px;
        border-radius: 2px;
    }
    
    .main-home .main-category .container-ofertas .product-oferta .container-img-oferta{
        width: 135px;
    }
    
    
    .main-home .main-category .container-ofertas .product-oferta .detail-oferta h4{
        color: #fff;
        font-family: var(--fontFamily-Titulo);
        font-weight: 400;
        text-transform: uppercase;
        font-size: 14px;
    
    }

}

/* footer */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto+Slab&display=swap');

/* body {
    margin: 0;
} */

.footer {
    background-color: rgb(39, 37, 37);
    color: rgb(224, 17, 17);
}

footer .iconos {
    text-align: center;
    padding: 20px;
}

footer .iconos a {
    margin: 10px;
    text-decoration: none;
    color: black;
    
}

footer .iconos a i {
    padding: 10px;
    font-size: 30px;
    background-color: rgb(221, 221, 221);
    border: 2px black solid;
    border-radius: 50%;
}

footer .iconos a .fa-instagram{
    padding: 10px 11px;
}

footer .pie {
    margin: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer .pie h2 a {
    text-decoration: none;
    color: white;
    font-family: 'Lora', serif;
}

footer .pie h2 a:hover {
    color: rgb(224, 17, 17);
}

footer .pie i {
    color: white;
    padding: 10px;
    border-bottom: 1px solid grey;
    font-size: 25px;
}

footer .bot {
    padding: 20px;
    text-align: center;
}

@media (min-width : 768px) {
    
}

@media (min-width : 1024px) {
    footer .iconos {
        margin-bottom: 30px;
    }

    footer section {
        display: flex;
        flex-direction: row;
    }

    footer .pie {
        width: 33%;
    }

    footer section #borde {
        border-right: 1px solid grey;
    }

    footer .pie i {
        border: none;
    }

}


