.index{
    background-color: white;
}

.index button {
    background-color: red;
    margin: 10px;
    background-color: white;
    border-style:outset;
    padding: 8px;
}

.index button a {
  color: black;
}

.tabla{
  background-color: black;
  padding: 2%;
}

.tabla h3{
  color: white;
  text-align: center;
  font-size: 40px;
}

table { 
  margin: 10px;  
  width: 98%; 
  border-collapse: collapse;
  
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }
  