.index-admin{
    background-color: white;
}

.index-admin button {
    margin: 2px;
    padding: 5px;
}

.index-admin button a {
  color: black;
}


.admin { 
  margin: 10px;  
  width: 98%; 
  border-collapse: collapse;
  
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }
  