<%- include("../partials/head") %> 

<body class="vista-login">
    <main class="login">
        <h2>INICIAR SESIÓN</h2> 
        <form action=""> 
            <div class="option-login"> <!-- container de opciones alternativas de registro -->
                <a href=""><i class="fab fa-facebook"></i> Facebook login </a>
                <a href=""> <i class="fab fa-google"></i> Google login</a>
                <span>o</span>
            </div>
            

            <div class="box-form">
                <input type="email" name="email" placeholder="Gmail" value="<%= locals.old && old.email ? old.email : ''%>">
            </div>

            
            <div class="box-form">
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>

            <% if (locals.errors) {
                errors.forEach(error => { %>
                <p><%= error.msg %> </p>
            <% })
            } %>

            <a href="#" class="recuperar-contra">Olvidaste tu contraseña?</a>
            
            <div class="box-button">
                <button type="submit">Crear cuenta</button>
            </div>

        </form>
    </main>
</body>
</html>

