<div class="nav-admin">
    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img class="navbar-brand__logo" src="/images/Logo_sin_dragon.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/admin/admin">Productos</a>
              <a class="nav-link" href="/banner/control">Banners</a>
              <a class="nav-link" href="/create/admin">Agregar Productos</a>
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </div>
          </div>
        </div>
    </nav>
</div>
