<div class="multer">
    <label for="imagen" class="form-label">Imagen</label>
    <input type="file" class="form-control" id="imagen" name="imagen" required>
    <div class="invalid-feedback">
      Please provide a valid zip.
    </div>
</div>

