@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.formulario1 {
    font-family: 'Lora', serif;
    background-color: #0D0C0C;
    color: white;
}

.formulario1 h4 {
    margin: 5px;
    padding: 5px;
    background-color: #8C1111;
}

.formulario1 form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}

.formulario1 .sesion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px;
}

.formulario1 .cuenta {
    margin: 0;
    padding: 0;
}

.formulario1 .sesion a {
    color: rgb(54, 106, 165);
    text-decoration: none;
}

.formulario1 .linea {
    border-bottom: 1px solid grey;
    margin: 8px;
}


.formulario1 input, .formulario1 select,  .formulario1 button {
    margin: 10px;
    background-color: white;
    border-style:outset;
    padding: 8px;
}

.formulario1 button a{
    text-decoration: none;
    color: rgb(54, 106, 165);
}

@media (min-width : 500px) {
    .formulario1 {
        display: flex;
        justify-content: center;
    }

    .formulario1 section {
        width: 60%;
    }
}

@media (min-width : 768px) {
    
}

@media (min-width : 1024px) {
    
}