@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.modal-cart{
    z-index: 2000;
    width: 100%;
    background-color: #0000008c;
    height: 100vh;
    position: fixed;
    top: 0;
    visibility: hidden;
}

.openCart{
    visibility: unset;
}

.carrito {
    color: white;
    width: 425px; 
    float: right;
    position: fixed;
    z-index: 3000;
    right: 0;
    top: 0;
    height: 100%;
    transform: translateX(650px);
    transition: transform .8s;
}

.carrito .openCartProduct{
    transform: translateX(0px);
    opacity:unset;
    transition: transform .8s;
}

.carrito .container-full{
   height: 100vh;
}

.carrito .cart-product-sup{
    background-color: #fff;
    padding: 20px;
    padding-bottom: 58px;
    border-radius: 10px 0 10px 10px;
    z-index: 900;
    /* position: relative; */
    /* height: 100vh; */
}


.carrito .sup { /* titulo del carrito */
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.carrito .container-products{ /* contiene todos los productos */
    overflow-y: auto;
    max-height: 350px;
}

.carrito .cartNotProduct{ /* cuando el carrito no tiene productos */
    color: #000;
}

.carrito .titulo{ /* titulo "carrito de compra" */
    color: #000;
    font-size: 30px;
    font-family: var(--fontFamily-Titulo);
    text-transform: uppercase;
}

.carrito .closeModalCart{
    color: #000;
    font-size: 26px;
    position: absolute;
    right: 25px;
    top: 10px;
    cursor: pointer;
}

.carrito .bloque{ /* article contiene todos los datos del carrito de compras */

}

/* .carrito .bloque img {
    width: 60%;
} ????????*/

.carrito .container-product{ /* contiene los datos del producto */
    height: 110px;
    display: flex;
    box-shadow: 4px 4px 13px -2px #000;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    background-color: #000;
    margin-bottom: 15px;
    margin-right: 8px;
    align-items: center;
}

.carrito .arriba{ /* contiene la imagen */
    width: 95px;
}

.carrito .arriba img{ /* imagen del producto */
    width: 100%;
}

.carrito .container-datos-products{ /* name,price,catidad */
    display: flex;
    justify-content: space-around;
}

.carrito .container-name-price{ /* contiene el nombre y el precio del producto */
    margin-top: -15px;
    
}

.carrito .container-name{ /* contiene el nombre del producto */
    margin-bottom: 5px;
    margin-bottom: 5px;
    font-family: var(--fontFamily-Titulo);
    color: #fff;
    text-transform: capitalize;
    font-size: 19px;
}

.carrito .container-name__name{ /* nombre del producto */

}

.carrito .container-price{ /* contiene el precio del producto */
    font-family: var(--fontFamily-Textos);
    color: #fff;
    font-size: 17px;
}

.carrito .container-price__price{ /* precio del producto */

}

.carrito .cantidad{ /* contiene cuantos unidades del mismo producto compra*/
    margin-left: 20px;
}

.carrito .cantidad__input{ /* numero de productos */
    width: 100%;
    padding: 6px 5px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #000;
}

.carrito .delete-product{ /* contiene icono de eliminar */
    margin-top: 6px;
}

.carrito .delete-product a{ /* link para eliminar */
    width: 100%;
}

.carrito .delete-product a i{ /* icono para eliminar */
    color: var(--color-Rojo3);
    font-size: 21px;
}

/* .carrito .bloque input {
    margin-top: 20%;
    width: 60px;
    height: 40px;
} ???????*/

/* .carrito .bloque .arriba {
    display: flex;
    justify-content: space-between;
} ????????*/

.carrito .container-product-envios{
    background-color: var(--color-Gris1);
    padding-top: 20px;
    position: relative;
    top: -10px;
    padding: 20px;
    padding-bottom: 90px;
    z-index: 800;
    display: none;
}

.carrito .title-envio{ /* titulo de envio */
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 24px;
    font-family: var(--fontFamily-Titulo);
    font-weight: 400;
    text-transform: capitalize;
}

.carrito .datos-envios{ /* contiene datos de envio como codigo postal */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.carrito .input-postal{
    padding: 13px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    border-right: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

.carrito .calular-postal{
    padding: 13px;
    border: 1px solid #fff;
    background: var(--color-Gris3);
    color: #fff;
    border-radius: 0 5px 5px 0;
    width: 30%;
}


.carrito .conatiner-detalle{ /* contiene al detalle de la compra */
    position: relative;
    background-color: #000;
    margin-top: -23px;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    z-index: 1000;
    bottom: 0;
    width: 100%;
}

.carrito .detalle1, .detalle2 {
    display: flex;
    justify-content: space-between;
}

.carrito .detalle1 {
    border-bottom: 1px solid white;
    font-size: 17px;
}

.carrito .detalle2 {
    font-size: 25px;
}

.carrito .bloque .continue-form {
    background-color: var(--color-Rojo2);
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #000;
}

.carrito .continue-form a {
    text-decoration: none;
    color: #fff;
}

@media (min-width : 500px) {
    .carrito {
        float: right;
        position: fixed;
        z-index: 3000;
        right: 0;
        top: 0;
        height: 100%;
    }
    .carrito main {
        /* padding: 20px; ??????? */
    }
}

@media (min-width : 768px) {
    .carrito {
        float: right;
        position: fixed;
        z-index: 3000;
        right: 0;
        top: 0;
        height: 100%;
    }
    .carrito main {
        /* padding: 20px; ??????? */
    }
}

@media (min-width : 1024px) {

    .carrito {
        width: 45%;
    }
}